.navbar{
    padding: 2rem 0;

    &--toggle{
        background-color: $negro;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
    }

    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        position: relative;
    }

    &__navegacion{
        display: flex;
        flex-direction: column;
        height: 0;
        padding: 0;
        overflow: hidden;
        position: absolute;
        top: 18rem;
        left: 0;

        &--toogle{
            height: auto;
        }

        @include desktop{
            flex-direction: row;
            height: auto;
            padding: 0.5rem 0;
            position: unset;
            gap: 3rem;
        }
    }

    &__enlace{
        font-size: 3rem;
        font-family: $fuente_titulos;
        font-weight: 300;
        line-height: 2;
        text-transform: uppercase;
        color: $gris;

        &:hover{
            color: $blanco;
        }

        @include desktop{
            @include enlace;
        }
    }

    &__barra{
        @include desktop{
            display: none;
        }
    }
}